.container {
    width: 640px;
    margin: 0 auto;
    border: {
        left: 1px solid #ccc;
        right: 1px solid #ccc;
    }

    @media (max-width: 639px) {
        width: 320px;
    }
        
    @media (min-width: 950px) {
        width: 950px;
    }
        
    @media (min-width: 1440px) {
        width: 1440px;
    }
}